* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: #434E6E;
}
nav li a {
  font-family: Rubik;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 90px;
  color: #FFFFFF !important;
}

.hero-banner {
  padding: 110px 0px;
  background-color: #434e6e;
}
@media (max-width: 991px) {
  .hero-banner {
    padding: 50px 0px;
  }
}
.hero-banner h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 3px;
  text-align: left;
  color: #E3CCA1;
}
.hero-banner h1 {
  font-family: Rajdhani;
  font-size: 70px;
  font-weight: 600;
  line-height: 68px;
  text-align: left;
  color: #FFFFFF;
}
.hero-banner p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #D9DBE2;
}
.hero-banner button {
  background-color: #E3CCA1;
  padding: 5px 20px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-banner button a {
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: #434E6E;
  text-decoration: none;
}
.hero-banner .img-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.who {
  padding: 140px 0px;
}
@media (max-width: 991px) {
  .who {
    padding: 50px 0px;
  }
}
.who h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: left;
  color: #E3CCA1;
}
.who h2 {
  font-family: Rajdhani;
  font-size: 47px;
  font-weight: 700;
  line-height: 60.02px;
  letter-spacing: -1px;
  text-align: left;
  color: #434E6E;
}
.who p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #565872;
}

.products {
  padding: 104px 0px;
  background-color: #434E6E;
}
.products h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: left;
  color: #E3CCA1;
}
.products h2 {
  font-family: Rajdhani;
  font-size: 47px;
  font-weight: 700;
  line-height: 60.02px;
  letter-spacing: -1px;
  text-align: left;
  color: #FFFFFF;
}
.products p {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
}
.products h3 {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  color: #434E6E;
  padding-left: 10px;
}
.products h4 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #091D3E;
  padding-left: 10px;
}
.products button {
  padding: 5px 30px;
  margin-left: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.products button a {
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: #434E6E;
  text-decoration: none;
}

.gallery {
  padding: 80px 0px;
}
@media (max-width: 991px) {
  .gallery {
    padding: 50px 0px;
  }
}
.gallery h6 {
  font-family: Rubik;
  font-size: 10.67px;
  font-weight: 500;
  line-height: 10.67px;
  letter-spacing: 2.1999998093px;
  text-align: center;
  color: #E3CCA1;
}
.gallery h2 {
  font-family: Rajdhani;
  font-size: 35px;
  font-weight: 700;
  line-height: 40.01px;
  letter-spacing: -0.6666666865px;
  text-align: center;
  color: #434E6E;
}
.gallery .nav-pills .nav-link.active, .gallery .nav-pills .show > .nav-link {
  color: #434E6E;
  background-color: #E3CCA1;
  padding: 7px 20px;
}
.gallery .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #434E6E;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.gallery .small-images {
  width: 100%;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}
.gallery .large-images {
  width: 100%;
  height: 600px;
  -o-object-fit: fill;
     object-fit: fill;
}
.gallery button {
  padding: 10px 30px;
}
.gallery button a {
  font-family: Rubik;
  font-size: 21.5px;
  font-weight: 500;
  line-height: 35.83px;
  text-align: center;
  color: #434E6E;
  text-decoration: none;
}

.b2b {
  position: relative;
  z-index: 100;
}
.b2b .box {
  padding: 50px 40px;
  background-color: #EDEDFF;
}
.b2b .box h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: left;
  color: #434E6E;
}
.b2b .box h2 {
  font-family: Rajdhani;
  font-size: 41px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  color: #434E6E;
}
.b2b .box button {
  background-color: #E3CCA1;
  padding: 20px 100px;
  border: 8px solid #FFFFFF;
}
@media (max-width: 991px) {
  .b2b .box button {
    padding: 20px 55px;
  }
}
.b2b .box button a {
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #434E6E;
  text-decoration: none;
}

.achieve {
  padding-top: 200px;
  padding-bottom: 90px;
  background-color: #434E6E;
  margin-top: -100px;
}
.achieve h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: left;
  color: #E3CCA1;
}
.achieve h2 {
  font-family: Rajdhani;
  font-size: 47px;
  font-weight: 700;
  line-height: 60.02px;
  letter-spacing: -1px;
  text-align: left;
  color: #FFFFFF;
}
.achieve p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
}
.achieve h5 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: #FFFFFF;
}
.achieve h4 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #FFFFFF;
}

.quote {
  padding: 45px 0px;
}
.quote h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: center;
  color: #E3CCA1;
}
.quote h2 {
  font-family: Rajdhani;
  font-size: 47px;
  font-weight: 700;
  line-height: 60.02px;
  letter-spacing: -1px;
  text-align: center;
  color: #434E6E;
}
.quote .box {
  padding: 100px 0px;
  background-color: #F8F8F8;
}

.form {
  padding: 48px 0px;
}
.form h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3.2999999523px;
  text-align: center;
  color: #E3CCA1;
}
.form h2 {
  font-family: Rajdhani;
  font-size: 47px;
  font-weight: 700;
  line-height: 60.02px;
  letter-spacing: -1px;
  text-align: center;
  color: #434E6E;
}
.form img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 650px;
}
@media (max-width: 991px) {
  .form img {
    display: none;
  }
}
.form .col-lg-7 {
  background-color: #E3CCA1;
}
.form .col-lg-7 input {
  width: 100%;
  padding: 18px 20px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: #525368;
}
.form .col-lg-7 textarea {
  width: 100%;
}
.form .col-lg-7 button {
  background-color: #434E6E;
  padding: 20px 50px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

footer {
  background-color: #434E6E;
}
footer .foot {
  padding: 40px 0px;
}
footer .foot .container {
  display: flex;
  justify-content: center;
}
footer .foot .container img {
  width: 150px;
}/*# sourceMappingURL=style.css.map */