* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #fff;

    li {
        a {
            font-family: "Playfair Display", serif;
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 90px;
            color: #000 !important;
            @media (max-width:991px) {
                line-height: normal;
            }
        }
    }
    button{
        background-color: #d5a84d;
        padding: 5px 15px;
        border: none;
        a{
            color: #FFF;
            text-decoration: none;
        }
    }
}

.hero-banner {
    padding: 50px 0px;
    background-color: #13265c;

    @media (max-width:991px) {
        padding: 50px 0px;
    }

    h6 {
        font-family:  "Playfair Display", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 3px;
        text-align: left;
        color: #d5a84d;
    }

    h1 {
        font-family:  "Playfair Display", serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 20px;
        @media (max-width:991px) {
            font-size: 32px;
            line-height: 32px;
        }
    }

    p {
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #D9DBE2;
    }

    button {
        background-color: #d5a84d;
        padding: 5px 20px;
        border: none;
        width: fit-content;

        a {
            font-family: "Mulish", sans-serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 50px;
            text-align: left;
            color: #13265c;
            text-decoration: none;
        }
    }

    .img-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            border: 3px solid #FFFFFF;
        }
    }
}

.who {
    padding: 140px 0px;

    @media (max-width:991px) {
        padding: 50px 0px;
    }

    h6 {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 3.299999952316284px;
        text-align: left;
        color: #d5a84d;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 47px;
        font-weight: 700;
        line-height: 60.02px;
        letter-spacing: -1px;
        text-align: left;
        color: #13265c;
    }

    p {
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #565872;
        margin-bottom: 0px;
    }
}

.products {
    padding: 104px 0px;
    background-color: #13265c;

    h6 {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 3.299999952316284px;
        text-align: left;
        color: #d5a84d;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 47px;
        font-weight: 700;
        line-height: 60.02px;
        letter-spacing: -1px;
        text-align: left;
        color: #FFFFFF;
    }

    p {
        font-family: Rubik;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;
    }

    .box {
        background-color: #ffff;
        height: 100%;

        .content-wrap {
            height: 100%;
            padding: 20px 0px;

            h3 {
                font-family:  "Playfair Display", serif;
                font-size: 25px;
                font-weight: 400;
                line-height: 32px;
                // text-align: center;
                color: #13265c;
                padding-left: 10px;
            }

            h4 {
                font-family:  "Playfair Display", serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #091D3E;
                padding-left: 10px;
            }

            button {
                padding: 5px 30px;
                margin-left: 10px;
                width: fit-content;

                a {
                    font-family: Rubik;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 50px;
                    text-align: left;
                    color: #13265c;
                    text-decoration: none;
                }
            }
        }

        img {
            width: 100%;
            height: 500px;
            object-fit: fill;
            @media (max-width:991px) {
                height: auto;
            }
        }
    }
}

.gallery {
    padding: 80px 0px;

    @media (max-width:991px) {
        padding: 50px 0px;
    }

    h6 {
        font-family:  "Playfair Display", serif;
        font-size: 10.67px;
        font-weight: 500;
        line-height: 10.67px;
        letter-spacing: 2.1999998092651367px;
        text-align: center;
        color: #E3CCA1;
    }

    h2 {
        font-family:  "Playfair Display", serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 40.01px;
        letter-spacing: -0.6666666865348816px;
        text-align: center;
        color: #13265c;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #13265c;
        background-color: #d5a84d;
        padding: 7px 20px;
    }

    .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: #434E6E;
        text-decoration: none;
        background: 0 0;
        border: 0;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    .small-images {
        width: 100%;
        height: 300px;
        object-fit: fill;
    }

    .large-images {
        width: 100%;
        height: 600px;
        object-fit: fill;
    }

    button {
        padding: 10px 30px;

        a {
            font-family: Rubik;
            font-size: 21.5px;
            font-weight: 500;
            line-height: 35.83px;
            text-align: center;
            color: #13265c;
            text-decoration: none;
        }
    }
}

.b2b {
    position: relative;
    z-index: 100;

    .box {
        padding: 50px 40px;
        background-color: #EDEDFF;

        h6 {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 3.299999952316284px;
            text-align: left;
            color: #13265c;
        }

        h2 {
            font-family: Rajdhani;
            font-size: 41px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: -0.800000011920929px;
            text-align: left;
            color: #13265c;
        }

        button {
            background-color: #d5a84d;
            padding: 20px 100px;
            border: 8px solid #FFFFFF;

            @media (max-width:991px) {
                padding: 20px 55px;
            }

            a {
                font-family: Rajdhani;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                color: #13265c;
                text-decoration: none;
            }
        }
    }
}

.achieve {
    padding-top: 200px;
    padding-bottom: 90px;
    background-color: #13265c;
    margin-top: -100px;

    h2 {
        font-family: Rajdhani;
        font-size: 47px;
        font-weight: 700;
        line-height: 60.02px;
        letter-spacing: -1px;
        text-align: center;
        color: #FFFFFF;
    }

    p {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;
    }

    h3 {
        font-family: Rubik;
        font-size: 36px;
        font-weight: 500;
        line-height: 43px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        color: #FFFFFF;
    }

    li {
        list-style: none;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #FFFFFF;
    }

    span {
        color: #d5a84d;
    }
}

.quote {
    padding: 45px 0px;

    h6 {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 3.299999952316284px;
        text-align: center;
        color: #E3CCA1;
    }

    h2 {
        font-family: Rajdhani;
        font-size: 47px;
        font-weight: 700;
        line-height: 60.02px;
        letter-spacing: -1px;
        text-align: center;
        color: #13265c;
    }

    .box {
        padding: 100px 0px;
        background-color: #F8F8F8;
    }
}

.form {
    padding: 48px 0px;

    h6 {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 3.299999952316284px;
        text-align: center;
        color: #E3CCA1;
    }

    h2 {
        font-family: Rajdhani;
        font-size: 47px;
        font-weight: 700;
        line-height: 60.02px;
        letter-spacing: -1px;
        text-align: center;
        color: #13265c;
    }

    img {
        object-fit: fill;
        width: 100%;
        height: 650px;

        @media (max-width:991px) {
            display: none;

        }
    }

    .col-lg-7 {
        background-color: #E3CCA1;

        input {
            width: 100%;
            padding: 18px 20px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.96px;
            text-align: left;
            color: #13265c;
        }

        textarea {
            width: 100%;
        }

        button {
            background-color: #13265c;
            padding: 20px 50px;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            border: none;
        }
    }
}

footer {
    background-color: #13265c;

    .foot {
        padding: 40px 0px;

        .container {
            display: flex;
            justify-content: center;

            img {
                width: 150px;
            }
        }
    }

    h3 {
        font-family: "Playfair Display", serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        color: #FFFFFF;

        span {
            font-family: "Playfair Display", serif;
            font-size: 36px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 3.299999952316284px;
            text-align: left;
            color: #d5a84d;
        }
    }
}

.bottom-foot {
    h2 {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #091D3E;
    }
}